<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="TestTables">

        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/test"
                        userId="root" password="123456"/>

        <!-- Java 模型对象生辰器 -->
        <javaModelGenerator targetPackage="com.segmentfault.springbootlesson7.entity2"
                            targetProject="${user.dir}/src/main/java"/>

        <!-- SQL Mapper XML 生成器 -->
        <sqlMapGenerator  targetPackage="mybatis.mappers" targetProject="${user.dir}/src/main/resources"/>

        <!-- SQL Mapper Java 接口 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.segmentfault.springbootlesson7.mapper"
                             targetProject="${user.dir}/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="user">
            <generatedKey column="id" sqlStatement="mysql" identity="true"/>
            <columnOverride column="name" property="name"/>
            <columnOverride column="age" property="age"/>
            <columnOverride column="desc" property="description"/>

        </table>
    </context>
</generatorConfiguration>