<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录页面</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<form id="form" method="post" action="/loginAction">
    <label>用户名：</label><input type="text" name="name" value="" />
    <label>密码：</label><input type="text" name="pwd" value="" />
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <br />
    <input type="submit" value="登录" />
</form>
</body>
</html>